*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

header{
position:fixed;
width:100%;
background:#111;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
border-bottom:2px solid red;
}

.logo{
color:red;
font-size:24px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url("logo.jpg");
background-size:cover;
background-position:center;
}

.hero h1{
font-size:60px;
color:red;
}

button{
background:red;
color:white;
border:none;
padding:12px 25px;
margin-top:15px;
cursor:pointer;
}

section{
padding:100px 10%;
}

.card{
background:#151515;
padding:20px;
margin-top:20px;
border:1px solid red;
border-radius:10px;
}

input,textarea{
width:100%;
padding:12px;
margin-top:10px;
background:#111;
color:white;
border:1px solid red;
}

footer{
background:#111;
text-align:center;
padding:20px;
}
